---
const { icon, username } = Astro.props;
import Icon from './Icon.astro';


---
<!-- <a href={`https://www.${platform}.com/${username}`}>{platform}</a> -->


<!-- <div class="mt-5 flex justify-center space-x-2">
    {
        socials.map((social: any) => (
            <Icon 
                icon={social.frontmatter.icon}
                username={social.frontmatter.username}
            />
        ))
    }
</div> -->
<div class="mt-5 flex justify-center space-x-2">
    <Icon 
        icon={icon}
        username={username}
    />
</div> 